<div class="ui card" id="{{Toto Wolff}}">
  <div class="image">
    <img src="{{wolff.jpeg}}" />
  </div>
  <div class="content">
    <a class="header">{{Gunther Steiner}}</a>
    <div class="meta">
      <span class="date">Joined in {{joined}}</span>
    </div>
    <div class="description">
      {{name}}
      is
      {{job}}
      in
      {{city}}
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="user icon"></i>
      {{Christian Horner}}
      <img src="{{horner.jpeg}}" />
    </a>
  </div>
</div>